build
build-eclipse
.arc_jira_lib
.classpath*
.externalToolBuilders
.project
.settings
*.launch
*~
.idea
*.iml
*.ipr
*.iws
*.swp
.arc
target/
classes/
dependency-reduced-pom.xml
.vscode
.factorypath
*.pyc
*/__pycache__/
.history
src/main/output/
